body{
    width:1000px;
    margin: auto;

}
div.tooltip {	
    position: absolute;			
    text-align: center;												
    padding: 5px;				
    font: 12px sans-serif;		
    border: 1px solid #999999;		
    border-radius: 5px;			
    pointer-events: none;
    background: #eeeeee;
    stroke-width: 10px;			
}
.slider{
    -webkit-appearance: none; 
    appearance: none;
    width: 100%;
    height: 20px;
    background: #bbbbbb;
    border-radius: 8px;
}
.slider::-webkit-slider-thumb{
    -webkit-appearance: none; 
    appearance: none;
    width:38px;
    height: 25px;
    border-radius: 8px;
    background: #30b030;
    cursor: pointer;
}
.slidercontainer{
    width: 80%;
}
#incomeSlider{
    width: 50%;
    margin: auto;

}
.legend1{
    font: 16px sans-serif;	
    cursor: pointer;
}
#treeVis{
    width: auto;;
    margin: auto;
}
.nodeLabel{
    font: 10px sans-serif; 
    fill: white;   
}
#yearDisplayText{
    font: 128px sans-serif;
    opacity: 0.3;
}
.axisLabel{
    font: 12px sans-serif;
}